<h2 mat-dialog-title>Créer une publication</h2>

<mat-dialog-content>

  <mat-form-field class="full-width">
    <mat-label>Que voulez-vous dire ?</mat-label>
    <textarea matInput [formControl]="content" rows="5"></textarea>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button class="mat-raised-button mat-primary" (click)="onSave()" [disabled]="!content.value || content.value.length === 0">Publier</button>
  <button mat-button class="mat-raised-button" (click)="onClose()">Annuler</button>
</mat-dialog-actions>
