<mat-card class="card">
  <mat-card-header>
    <mat-icon aria-hidden="false" aria-label="Like icon" mat-card-avatar>article</mat-icon>
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-subtitle>Crée le {{createdAt | date: 'dd/MM/yyyy'}}</mat-card-subtitle>
    <button mat-icon-button class="icon-button right-align" (click)="remove.emit()">
      <mat-icon aria-hidden="false" aria-label="Delete icon">delete_outlined</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{content}}
    </p>
  </mat-card-content>
  <mat-card-actions class="post-footer">
    <mat-grid-list cols="6" rowHeight="3:1">
      <!-- <mat-grid-tile colspan="2">
        <button mat-icon-button class="icon-button" (click)="onLike()">
          <mat-icon aria-hidden="false" aria-label="Like icon">favorite_border</mat-icon> {{like}}
        </button>
      </mat-grid-tile>
      <mat-grid-tile colspan="2">
        0 commentaire
      </mat-grid-tile> -->
      <mat-grid-tile colspan="2">
        <button mat-button (click)="onLike()">
          <mat-icon aria-hidden="false" aria-label="Like icon">favorite_border</mat-icon> J'aime
        </button>
      </mat-grid-tile>
      <mat-grid-tile colspan="2">
        <button mat-button (click)="onComment()">
          <mat-icon class="material-icons-outlined" aria-hidden="false" aria-label="Comment icon">comment</mat-icon> Commenter
        </button>
      </mat-grid-tile>
      <mat-grid-tile colspan="2">
        <button mat-button (click)="onShare()">
          <mat-icon aria-hidden="false" aria-label="Like icon">share_border</mat-icon> Partager
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-actions>
</mat-card>
