.icon-button {
  :hover {
    color: blue;
  }
}

.post-footer {
  position: absolute;
  bottom: 0;
  left: 10px;
}

.icon-share {
  left: 60px;
}

.right-align {
  margin-left: auto;
}

p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card {
  width: 315px;
  height: 150px;
  margin: 5px 5px;
}
