.icon-button {
    :hover {
        color: blue;
    }
}

.right-align {
    margin-left: auto;
}

p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card {
    //max-width: 300px;
    min-width: 300px;
    min-height: 200px;
}
