<div class="list-title">
    <h1>Publications</h1>
</div>
<div class="list-content">
    <!-- <div class="list-menu">
        <app-side-bar></app-side-bar>
    </div> -->
    <div class="list-posts">
        <button mat-button (click)="createItem()">
          <mat-icon aria-hidden="false" aria-label="Create icon">create</mat-icon> Écrire
        </button>
        <app-post *ngFor="let post of posts" [id]="post.id" [author]="post.author" [content]="post.content" [like]="post.like" (remove)="removeItem(post.id)"></app-post>
    </div>
</div>
