.list-content {
    display: flex;
    * {
        margin-left: 1vw;
        margin-right: 1vw;
    }
    height: calc((100vh - 64px) - 64px - 40px);
}

.list-menu {
    flex-grow: 1;
    background: lightblue;
    min-width: 15vw;
}

.list-posts {
    flex-grow: 5;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
}

.list-title {
    text-align: center;
    height: 40px;
}
